Distant Reading I: hacker les humanités

# Algorithmique 2

Simon Gabay

Genève

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0;float:right;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International Licence</a>.

# 1 Opérateurs
## 1.1 Opérateurs arithmétiques
### 1.1.1 Addition
Il est possible d'aditionner toutes sortes de choses. Des entiers bien sûr:

In [10]:
1+1

2

Des flottants:

In [11]:
1.1+1.2

2.3

Un entier avec un flottant

In [12]:
1.1+1

2.1

 (le résultat est alors un flottant)

In [13]:
type(1.1+1)

float

Et même, on l'a vu, des caractères:

In [28]:
"a"+"b"

'ab'

Il existe cependant certaines limites, plus logiques qu'informatiques. Il est ainsi impossible d'additionner des caractères et des chiffres

In [29]:
"a"+1

TypeError: can only concatenate str (not "int") to str

Une solution serait de convertir le chiffre en caractère puis de l'additioner avec l'autre caractère

In [55]:
"a"+str(1)

'a1'

### 1.1.2 Soustraction
Il est aussi possible de faire des soustractions avec le signe `-`

In [156]:
soustraction_entier = 5 - 2 # avec des entiers
soustraction_flottant1 = 8.5 - 2.4 # avec des flottants
soustraction_flottant2 = 8 - 2.4 # avec un entier et un flottant, le résultat étant un flottant
# J'affiche toutes mes variables, en les séparant avec une regex
print(soustraction_entier, soustraction_flottant1, soustraction_flottant2, sep="\n")

3
6.1
5.6

La soustraction, comme les autres opérations, ne peut en revanche s'appliquer aux caractères

In [157]:
"a"-"b"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Les opérateurs booléens ayant une valeur de `0` (`False`) ou de `1` (`True`) il est possible de les utiliser comme des chiffres

In [158]:
5- True

4

et

In [159]:
4.2+ False

4.2

### 1.1.3 Multiplication
La multiplication se fait avec le signe `*`

In [160]:
multiplication_entier = 5 * 2 # avec des entiers
multiplication_flottant1 = 8.5 * 2.4 # avec des flottants
multiplication_flottant2 = 8 * 2.4 # avec un entier et un flottant, le résultat étant un flottant
# J'affiche toutes mes variables, en les séparant avec une regex
print(multiplication_entier, multiplication_flottant1, multiplication_flottant2, sep="\n")

10
20.4
19.2

Encore une fois, il n'est pas possible de multiplier les caractères

In [161]:
"a"*"b"

TypeError: can't multiply sequence by non-int of type 'str'

Il est en revanche possible de multiplier des caractères avec des entiers

In [162]:
"abc " *12

'abc abc abc abc abc abc abc abc abc abc abc abc '

Mais pas il est impossible de multiplier des caractères avec des flottants:

In [215]:
"a"*2.1

TypeError: can't multiply sequence by non-int of type 'float'

Il existe un type particulier de multiplication: l'exposant. En effet 5<sup>4</sup> ("5 puissance 4") revient à faire une série de multiplications:

In [216]:
5*5*5*5

625

Il est possible de noter "puissance" avec le signe `**`

In [217]:
5**4

625

### 1.1.4 Division et reste
La division est faite avec l'opérateur `/`

In [218]:
division_entier = 5 / 2 # avec des entiers
division_flottant1 = 8.5 / 2.4 # avec des flottants
division_flottant2 = 8 / 2.4 # avec un entier et un flottant, le résultat étant un flottant
# J'affiche toutes mes variables, en les séparant avec une regex
print(division_entier, division_flottant1, division_flottant2, sep="\n")

2.5
3.541666666666667
3.3333333333333335

Dans certains cas, il peut être utile de savoir que le résultat sera forcément un entier. Pour ce faire nous pouvons utiliser le signe `//` qui permet de faire une _division tronquée_

In [219]:
division_tronquee1 = 5 // 2 # avec des entiers
division_tronquee2 = 10 // 3 # avec des flottants
division_tronquee3 = 10.2 // 8 # avec un entier et un flottant, le résultat étant un flottant
# J'affiche toutes mes variables, en les séparant avec une regex
print(division_tronquee1, division_tronquee2, division_tronquee3, sep="\n")

2
3
1.0

Je peux aussi récupérer ce qui a été perdu au passage, le _reste_ ou (<i>modulo</i>) , avec le signe `%`.
Par exemple

In [220]:
6 % 3

0

Car `6 = 3 * 2 + 0`. Mais en revanche:

In [221]:
10 % 3

1

Car `10 = 3 * 3 + 1`

## 1.2 Opérateurs de comparaison
Ces opérateurs renvoient une valeur booléenne: `true` ou bien `False`
### 1.2.1 Opérateur d'égalité
On se rappelle que le signe `=` permet d'assigner une valeur à une variable:
```python
variable="valeur"
```
Il nous faut donc avoir recours à un autre signe: ce sera `==`

In [222]:
"a" == "a"

True

In [223]:
True == True

True

In [224]:
1==1

True

Notons que si l'on peut comparer un entier avec un flottant

In [225]:
2 == 2.0

True

On peut aussi comparer un entier avec le caractère équivalent, mais le résultat est faux

In [226]:
2 == "2"

False

### 1.2.2 Opérateur d'inégalité
L'inverse de `==` est `!=`

In [227]:
"a" != "a"

False

In [228]:
True != False

True

### 1.2.3 Opérateur de supériorité et d'infériorité (stricte ou non)
Comme en mathématiques on utilise les signes `>` et `<` pour la supériorité et l'infériorité stricte

In [229]:
1<2

True

In [230]:
10>2

True

In [231]:
2>5

False

Cet opérateur de comparaison vaut aussi pour les chaînes de caractères, dont on compare **le classement alphabétique** (et non le nombre de caractères)

In [232]:
"abcefghij" < "bcd"

True

Il est possible d'utilise un comparateur de supériorité et d'infériorité non-stricte: `>=` (supérieur ou égal) et `<=` (inférieur ou égal), ainsi

In [233]:
4>4

False

mais

In [234]:
4>=4

True

## 1.3 Opérateurs booléens
(Source image: <a href="https://paris-sorbonne.libguides.com/google" target="_blank">https://paris-sorbonne.libguides.com</a>)

Ce sont des opérateurs qui permettent d'expliciter ou de préciser les opérateurs de comparaison. On en compte trois:

<img src="images/OpBooleen.jpg" style width="50%">

### 1.3.1 `not`
`not` permet d'inverser le résultat de la comparaison

In [235]:
"a" != "a"

False

In [236]:
not "a" == "a"

False

### 1.3.1 `and`
`and` permet de garantir que toutes les conditions testées sont vraies

In [237]:
True and False

False

In [238]:
True and True

True

In [239]:
"abc" == "abc" and 32 <= 45.897

True

### 1.3.1 `or`
`and` permet de garantir qu'au moins une des conditions testées est vraie

In [240]:
True or False

True

In [250]:
True and True

True

In [251]:
"abc" != "bcd" or 32 <= (45.897+(3**5))/2

True

# 2. Les structures de contrôle

## 2.0 Le pseudo-code

Il est possible d'utiliser du pseudo-code pour réfléchir à la fabrication d'algorithme. On parle de LDA (Langage de Description d'Algorithmes), qui est une façon de décrire un algorithme en langage presque naturel.

On va d'abord détailler le problème à résoudre en en faisant l'analyse. La règle est simple: une ligne, une instruction:

```console
première instruction
deuxième instruction
troisième instruction
…
dernière instruction
```

Dans un second temps il est possible de reprendre le même problème en se rapprochant d'un langage de programmation et en utilisant des rudiments de code (si, alors, sinon, pour chaque…)

Exemple: demander deux nombres et les afficher ensuite dans l'ordre croissant.

Analyse:
```
introduire a,b
si a < b afficher a et b sinon afficher b et a
```

L'algorithme serait le suivant:

```
Variable n1, n2 en Entier
début
 ecrire "n1,n2 ?"
 entrer n1,n2
 lire n1,n2
 ecrire "par ordre croissant"
 si n1<n2 alors
  ecrire n1," ",n2
 sinon
  ecrire n2," ",n1
 fsi
Fin
```

## 2.1 Les structures de test
### 2.1.1 `if`
<img src="images/if-statement.jpg" style ="float:right;" width="30%">
<a href="https://www.geeksforgeeks.org/python-if-else/" target="_blank">Source image</a>

Il existe plusieurs structures de test possible. La plus simple est la suivante:
```
Si booléen Alors
    Instructions
Finsi
```

Les informaticiens ont l'habitude de représenter ce type de problème sous la forme de _<a href="https://en.wikipedia.org/wiki/Flowchart" target="_blank">Flowchart</a>_ :
* La flèche représente le processus, la _Flowline_
* Le losange symbolise un point de décision dans le processus
* Le rectangle représente un événement contrôlé dans le processus

Par exemple:
```
Variable note, moyenne en Entier
Début
Si note>moyenne Alors
    ecrire "bravo!"
Finsi
Fin
```
Soit en python (vous pouvez/devez jouer avec la variable _note_ évidemment):

In [252]:
note=2
moyenne=3
if note>moyenne:
    print("bravo!")

### 2.1.2  `else`
<img src="images/if-else.jpg" style ="float:right;" width="24%">

Mais que ce passe-t-il si la note est supérieure à la moyenne? Il faut envisager une structure de test un peu plus complexe que la précédente:
```
Si booléen Alors
    Instructions 1
Sinon
    Instructions 2
Finsi
```

Ainsi

```
Variable note, moyenne en Entier
Début
Si note>moyenne Alors
    ecrire "bravo!"
Sinon
    ecrire "échec…"
Finsi
Fin
```

Soit en python (vous pouvez/devez jouer avec la variable _note_ évidemment)

In [253]:
note=2
moyenne=3
if note>moyenne:
    print("bravo!")
else:
    print("échec")

échec

### 2.1.3 Test imbriqué
<img src="images/Nested_if.jpg" style ="float:right;" width="50%">

Il est aussi possible de faire des tests imbriqués:
```
Si booléen Alors
    Instructions 1
Sinon
    Si booléen Alors
        Instructions 2
    Si booléen Alors
        Instructions 3
Finsi
```

Ainsi

```
Variable note, moyenne, mention en Entier
Début
Si note>moyenne Alors
    Si note<mention Alors
        ecrire "bien!"
    Sinon
        ecrire "Félicitations!"
Sinon
    ecrire "échec"
Finsi
Fin
```

Soit en python (vous pouvez/devez jouer avec la variable _note_ évidemment)

In [254]:
note=5
moyenne=3
mention=5
if note>moyenne:
    if note<mention:
        print("bien!")
    else:
        print("félicitations!")
else:
    print("échec")

félicitations!

### 2.1.4 `elif`
<img src="images/if-elseif-ladder.jpg" style ="float:right;" width="50%">

Il est aussi possible de faire des tests imbriqués:
```
Si booléen Alors
    Instructions 1
SinonSi booléen Alors
    Instructions 2
Sinon booléen Alors
    Instructions 3
Finsi
```

Ainsi

```
Variable note, moyenne, mention en Entier
Début
Si note<moyenne Alors
    ecrire "échec"
SinonSi note>moyenne et note<mention Alors
    ecrire "bien!"
Sinon
    ecrire "Félicitations!"
Finsi
Fin
```

Soit en python (vous pouvez/devez jouer avec la variable _note_ évidemment)

In [272]:
note=4.5
moyenne=3
mention=5
if note<moyenne:
    print("échec")
elif note>=moyenne and note<mention:
    print("bien!")
else:
    print("félicitations!")

bien!

### 2.1.4 Remarque importante
Tentez de faire fonctionner ce morceau de code (analysz l'erreur)

In [273]:
note=4.5
moyenne=3
mention=5
if note<moyenne:
print("échec")
elif note>=moyenne and note<mention:
print("bien!")
else:
print("félicitations!")

IndentationError: expected an indented block (<ipython-input-273-bae240831a93>, line 5)

<b>Remarque importante: vous avez vu que le code est indenté. En python, conrtairement à d'autres langages, c'est une obligation. Il s'agit soit d'une tabulation, soit de quatre espaces.</b>
```python
if a is True:
    if b is True:
        if c is False:
            ...
        else:
            ...
else:
    ...
```
Ainsi ce code fonctionne

### 2.1.5 Exercices
Pour être vraiment fonctionnel, le programme devrait être le suivant:

1. Ecrire un algorithme qui demande un nombre à l’utilisateur, et l’informe ensuite si ce nombre est positif ou négatif (on laisse de côté le cas où le nombre vaut zéro).
2. Ecrire un algorithme qui demande deux nombres à l’utilisateur et l’informe ensuite si leur produit est négatif ou positif (on laisse de côté le cas où le produit est nul). Attention toutefois : on ne doit pas calculer le produit des deux nombres.
3. Ecrire un algorithme qui demande trois noms à l’utilisateur et l’informe ensuite s’ils sont rangés ou non dans l’ordre alphabétique.
4. Tentez d'écrire l'algorithme de ce code!

In [276]:
note = int(input('Entrez la note: '))
moyenne=3
mention=5
def reussite(n):
    if note<moyenne:
        print("échec!")    
    elif note>=moyenne and note<mention:
        print("bien!")
    else:
        print("félicitations!")

reussite(note)

Entrez la note: 3
bien!

_


_

_

_

_

_

_

_

_

_

_

_

_

Solution:
1. 
```
Variable n en Entier
Début
Ecrire "Entrez un nombre : "
Lire n
Si n > 0 Alors
  Ecrire "Ce nombre est positif”
Sinon
  Ecrire "Ce nombre est négatif"
Finsi
Fin
```
2. 
```
 Variables m, n en Entier
Début
Ecrire "Entrez deux nombres : "
Lire m, n
Si (m > 0 ET n > 0) OU (m < 0 ET n < 0) Alors
  Ecrire "Leur produit est positif"
Sinon
  Ecrire "Leur produit est négatif"
Finsi
Fin
```
3. 
```
 Variables a, b, c en Caractère
Début
Ecrire "Entrez successivement trois noms : "
Lire a, b, c
Si a < b ET b < c Alors
  Ecrire "Ces noms sont classés alphabétiquement"
Sinon
  Ecrire "Ces noms ne sont pas classés"
Finsi
Fin
```

# Remarques
Ce cours reprend des éléments des cours de <a href="https://github.com/alix-tz/Intro-algo" target="_blank">A. Chagué</a> et <a href="http://pise.info/algo/tests.htm" target="_blank">Ch. Darmangeat</a>